<!DOCTYPE html>
<html>
<head>
  <title>My Resume</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="header">
          <h1>SATISH VENKATA SAI SURE</h1>
          <h4>Senior Software Engineer</h4>
        </div>
        <h5 class="contact-info">(+91) 7013484408</h5>
        <h5 class="contact-info">sure.saisatish@gmail.com</h5>

        <h2 class="section-heading">Summary</h2>
        <p>Around 3.6 years of overall experience in the IT industry as a Software Engineer. Good knowledge of Object-Oriented Programming concepts in Java. Experience in developing object-oriented business applications using Java, Servlets, JSP, Spring, and Spring Boot.</p>

        <h2 class="section-heading">Experience</h2>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">LTIMindtree</h5>
            <p class="card-text">Senior Software Engineer (Apr 2022 - Present)</p>
            <p class="card-text">Marriott International:</p>
            <ul>
              <li>Backend Login Flow Management</li>
              <li>Middleware Development and Processing</li>
              <li>Database Interaction</li>
              <li>Production Support and Deployment</li>
            </ul>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Accenture</h5>
            <p class="card-text">Application Development Analyst (Dec 2019 - Apr 2022)</p>
            <p class="card-text">National Australian Bank(NAB):</p>
            <ul>
              <li>Analyzing the Design Document</li>
              <li>Client Communication and Requirement Gathering</li>
              <li>Code Enhancement and Feature Addition</li>
              <li>Production Issue Resolution</li>
            </ul>
          </div>
        </div>

        <h2 class="section-heading">Education</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Qualification</th>
              <th>Year</th>
              <th>College</th>
              <th>Percentage/CGPA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>B. Tech [CSE]</td>
              <td>2019</td>
              <td>KSRM College of Engineering, Kadapa</td>
              <td>7.32</td>
            </tr>
            <tr>
              <td>Intermediate [MPC]</td>
              <td>2015</td>
              <td>Narayana Junior College, Kadapa</td>
              <td>95%</td>
            </tr>
            <tr>
              <td>SSC</td>
              <td>2013</td>
              <td>Nagarjuna Model School, Kadapa</td>
              <td>9.2</td>
            </tr>
          </tbody>
        </table>

        <h2 class="section-heading">Skills</h2>
        <ul>
          <li>Programming Languages: Java8</li>
          <li>Web Technologies: Servlets, JSP, JDBC</li>
          <li>Frameworks: Play, Spring, Spring Boot, JPA</li>
          <li>Database Software: SQL</li>
          <li>Tools: Maven, GIT, Splunk</li>
          <li>IDEs: Eclipse</li>
          <li>SDLC Models: Waterfall, Agile</li>
          <li>Data Transfer Technologies: XML, Json</li>
        </ul>

        <h2 class="section-heading">Personal Qualities</h2>
        <ul>
          <li>Recognized as best ASE in the project team</li>
          <li>Positive attitude with good communication skills</li>
          <li>Presentation skills, Enthusiast to explore and learn</li>
          <li>Committed towards work</li>
        </ul>

        <p class="declaration">I solemnly declare that all the above information is correct to the best of my knowledge and belief.</p>
        <p class="signature">Satish Venkata Sai Sure</p>
      </div>
      <div class="col-md-4">
        <img class="profile-photo" src="/img/profile-photo.jpg" alt="Profile Photo">
      </div>
    </div>
  </div>
</body>
</html>

